<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery App</title>
</head>
<style>
    body {
        padding-top: 50px;
    }
</style>
<body>
<div th:replace="fragments/header :: navbar(${order.totalPrice})"></div>
<div class="container">
    <h2 class="mb-5" th:text="'Welcome, ' + ${user.firstName} + ' ' + ${user.lastName}">Account</h2>
    <div class="panel-group">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Personal Information</h3>
            </div> <!-- panel-heading -->

            <div class="panel-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Email:</td>
                        <td th:text="${user.email}">User Email</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td th:text="${user.password}">User Password</td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td th:text="${user.firstName}">User First Name</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td th:text="${user.lastName}">User Last Name</td>
                    </tr>
                    <tr>
                        <td>Birth Date:</td>
                        <td th:text="${#dates.format(user.birthDate, 'dd-MMM-yyyy')}">User Birth Date</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <form th:action="@{/account/edit}" method="get">
                                <button class="btn btn-primary" type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- panel-body -->
        </div> <!-- panel personal info-->

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Order History</h3>
            </div> <!-- panel-heading -->
            <div class="panel-body">

            </div> <!-- panel-body -->
        </div> <!-- panel -->

    </div> <!-- panel-group -->
</div>


</body>
</html>