<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery App</title>
</head>
<style>
    body {
        padding-top: 50px;
    }
</style>
<body>
<div th:replace="fragments/header :: navbar(${order.totalPrice})"></div>
<div class="container">
    <h2 class="mb-5 text-center" th:text="'Registration form'">Registration forms</h2>

    <form method="post" action="/register" th:object="${userDTO}">
        <div class="form-group row" >
            <label for="email" class="col-1">Email</label>
            <input  type="text" id="email" placeholder="Username" class="col-3" th:field="*{dtoEmail}">

            <label for="password" class="col-1">Password</label>
            <input  type="password" id="password" placeholder="Password" class="col-3" th:field="*{dtoPassword}">
        </div> <!-- form-group password row-->
        <fieldset>
            <legend>Personal Information</legend>

            <div class="form-group row">
                <label for="firstname" class="col-2 ">First Name</label>
                <input  type="text" id="firstname" placeholder="First Name" class="col-2" th:field="*{dtoFirstName}">
            </div> <!-- form-group firstName row-->
            <div class="form-group row">
                <label for="lastName" class="col-2 ">Last Name</label>
                <input  type="text" id="lastName" placeholder="Last Name" class="col-2" th:field="*{dtoLastName}">
            </div> <!-- form-group lastName row-->

            <div class="form-group row">
                <label for="birthDate" class="col-2 ">Date of Birth</label>
                <input  type="date" id="birthDate" class="col-2" th:field="*{dtoBirthDate}">
            </div> <!-- form-group password row-->
        </fieldset>

        <div class="row">
            <div class="btn-group col-3  d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>

    </form> <!-- form -->
</div>


</body>
</html>