#right-sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 320px;
    width: 300px;
    height: 100vh;
    margin-right: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#cart-card {
    height: 90vh;
}